html, body{
    background-color:#f6f6f6;
    color: black;
    font-family: Arial, sans-serif;
    padding: 10px;
  }
  h1, h2 {
  font: Arial;
  }
  .btn, .form-search {
    font: 15px Arial;
    text-decoration: none;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    color: black;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
  }
  .btn:hover {
    background-color: #CCCCCC;
    cursor: pointer;
  }
  .btn-red {
    background-color: #c00000;
    color: #fff;
  }
  .btn-white {
    background-color: #fff;
  }
  .border {
    border-style: solid;
    padding: 20px;
  }
  .alert {
    color: #c00000;
    border-style: dotted;
    padding: 20px;
  }
  table {
    width: 100%;
  }
  td {
    padding: 4px;
  }
  thead, tbody>tr:nth-child(even) {
    background-color: #e1e1e1;
  }
  .form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
  }